/* LoginPage.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .login-form-container {
    position: relative;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    overflow: hidden;
  }
  
  /* Apply blur to the background image */
  .login-form-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('output.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(0px); /* Apply the blur effect to the background image */
    z-index: -1; /* Position it behind the content */
  }
  
  
  .brand-name {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .input-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
  }
  
  .input-group input:focus {
    border-color: #66cc66;
  }
  
  .login-btn {
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #66cc66;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #4caf50;
  }
  
  .login-btn:active {
    background-color: #45a049;
  }